body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Layout */

.large-container {
  width: 100%;
}

.section {
  margin: 0 auto;
  width: 900px;
  padding: 0 24px;
  min-width: 600px;
  /* DEBUG */
  border: 3px solid lime;
}

/* Components */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.header .logo {
  font-size: 24px;
  text-transform: uppercase;
  color: #f9faf8;
  font-weight: bold;
}

.header .navigation {
  display: flex;
  gap: 24px;
}

.header .navigation a {
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 72px 0;
  gap: 48px;
  color: #e5e7eb;
  font-size: 18px;
  flex-wrap: wrap;
}

.hero .intro {
  flex: 1;
}

.hero .intro h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero .profile-image {
  flex: 0 1 240px;
}

.hero .profile-image img {
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery h2 {
  color: #1f2937;
}

.gallery ul {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 48px;
}

.gallery ul li {
  width: 100px;
  color: #1f2937c7;
  font-weight: lighter;
  text-align: center;
  font-size: small;
}

.gallery ul li img {
  border: 2px solid #3882f6;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Utilities */

.bg-blue {
  background-color: #1f2937;
}

.bg-gray {
  background-color: #e5e7eb;
}
