body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Layout */

.large-container {
  width: 100%;
}

.section {
  margin: 0 auto;
  width: 900px;
  padding: 0 24px;
  min-width: 600px;
}

/* Components */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.header .logo {
  font-size: 24px;
  text-transform: uppercase;
  color: #f9faf8;
  font-weight: 700;
}

.header .navigation {
  display: flex;
  gap: 24px;
}

.header .navigation a {
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 72px 0;
  gap: 48px;
  color: #e5e7eb;
  font-size: 18px;
  flex-wrap: wrap;
}

.hero .intro {
  flex: 1;
}

.hero .intro h1 {
  font-size: 36px;
  font-weight: 700;
  color: #f9faf8;
}

.hero .profile-image {
  flex: 0 1 240px;
}

.hero .profile-image img {
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.gallery h2 {
  color: #1f2937;
}

.gallery ul {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 48px;
}

.gallery ul li {
  width: 100px;
  color: #1f2937c7;
  font-weight: 300;
  text-align: center;
  font-size: small;
}

.gallery ul li img {
  border: 2px solid #3882f6;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.quote {
  font-size: 28px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  margin: 48px 0 8px 0;
}

small {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  margin-bottom: 48px;
  font-weight: 700;
}

.cta {
  display: flex;
  align-items: center;
  background-color: #3882f6;
  border-radius: 6px;
  color: #f9faf8;
  padding: 0 72px;
  margin: 48px 0;
  min-height: 120px;
}

.cta .cta-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.cta .cta-text h3,
.cta .cta-text p {
  margin: 0;
}

.cta .cta-text h3 {
  font-weight: 700;
}

.footer {
  color: #f9faf8;
  text-align: center;
  font-size: 14px;
  padding: 16px 0;
}

/* Utilities */

.bg-blue {
  background-color: #1f2937;
}

.bg-gray {
  background-color: #e5e7eb;
}

.button {
  border-radius: 4px;
  padding: 8px 18px;
  background-color: transparent;
  border-width: 0;
  color: #f9faf8;
  cursor: pointer;
}

.button.normal {
  background-color: #3882f6;
}

.button.inverted {
  border: 1px solid #f9faf8;
}
